{% load static %} 
<!-- 
{% load static %}  -> para carregar as fotos das imagens
-->
{% load omfilters %}
<div class="table-responsive">
    <table class="table">
        <tr>
            <th class="d-none d-lg-block">Imagem</th>
            <th>Produto</th>
            <th>V.</th>
            <th>QTD.</th>
            <th>Total</th>
        </tr>

        {% for linha in carrinho.values %}
        <!--
        Não pode-se esquecer que a variavel "carrinho" é um dicionário. Está sendo declarada no contexto da classe Carrinho, o valor da variavel carrinho são os produtos que estão self.request.session.get('carrinho'). Para mais duvidas consultar a classe carrinho
        -->
        <tr>
            <td class="d-none d-lg-block">
                <img class="cart-img" src="{%get_media_prefix%}{{linha.imagem}}">
                <!-- 
                {% get_media_prefix %} -> é uma forma para carregar as fotos das imagens, sendo que a variavel é um dicionário. Precisa da importação do load static 
                -->
            </td>
            <td>
                <a href="{% url "Detalhe_produto" linha.slug %}">
                    {{linha.produto_nome}}
                </a>

                <a class="ml-3" href="{% url "removerdocarrinho" %}?vid={{linha.variacao_id}}">
                    <!-- {% url "removerdocarrinho" %}?vid={{linha.variacao_id}} -> está url tras a vid e o id do produto que deseja apagar. Usar este modelo para projetos. -->
                    <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                </a>
            </td>
            <td>{{linha.variacao_nome}}</td>
            <td>{{linha.quantidade}} x 
                {% if linha.preco_unitario_promocional %}
                {{linha.preco_unitario_promocional | formata_preco}}
                {% else %}
                {{linha.preco_unitario | formata_preco}}
                {% endif %}
            </td>

            <!-- Esta parte é do total ao lado do valor da compra do produto, calculo que está sendo feito na classe  -->
            {% if linha.preco_quantitativo_promocional %}
                <td>{{linha.preco_quantitativo_promocional | formata_preco}}</td>
            {% else %}
                <td>{{ linha.preco_quantitativo | formata_preco}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>