{% extends "static/_base.html" %}
{% load static %} 
<!-- 
{% load static %}  -> para carregar as fotos das imagens
-->

{% load omfilters %}

{% block conteudo %}
{% if carrinho %}
<div class="row mt-3">
    <div class="col">
        <h3>Carrinho de compras</h3>
        <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th class="d-none d-lg-block">Imagem</th>
                    <th>Produto</th>
                    <th>V.</th>
                    <th>QTD.</th>
                    <th>Total</th>
                </tr>

                {% for linha in carrinho.values %}
                <!--
                Não pode-se esquecer que a variavel "carrinho" é um dicionário. Está sendo declarada no contexto da classe Carrinho, o valor da variavel carrinho são os produtos que estão self.request.session.get('carrinho'). Para mais duvidas consultar a classe carrinho
                -->
                <tr>
                    <td class="d-none d-lg-block">
                        <img class="cart-img" src="{%get_media_prefix%}{{linha.imagem}}">
                        <!-- 
                        {% get_media_prefix %} -> é uma forma para carregar as fotos das imagens, sendo que a variavel é um dicionário. Precisa da importação do load static 
                        -->
                    </td>
                    <td>
                        <a href="{% url "Detalhe_produto" linha.slug %}">
                            {{linha.produto_nome}}
                        </a>

                        <a class="ml-3" href="{% url "removerdocarrinho" %}?vid={{linha.variacao_id}}">
                            <!-- {% url "removerdocarrinho" %}?vid={{linha.variacao_id}} -> está url tras a vid e o id do produto que deseja apagar. Usar este modelo para projetos. -->
                            <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>{{linha.variacao_nome}}</td>
                    <td>{{linha.quantidade}} x 
                        {% if linha.preco_unitario_promocional %}
                        {{linha.preco_unitario_promocional | formata_preco}}
                        {% else %}
                        {{linha.preco_unitario | formata_preco}}
                        {% endif %}
                    </td>

                    <!-- Esta parte é do total ao lado do valor da compra do produto, calculo que está sendo feito na classe  -->
                    {% if linha.preco_quantitativo_promocional %}
                        <td>{{linha.preco_quantitativo_promocional | formata_preco}}</td>
                    {% else %}
                        <td>{{ linha.preco_quantitativo | formata_preco}}</td>
                    {% endif %}
                </tr>
                {% endfor %}


            </table>
        </div>
    </div>
</div>



<div class="row mt-3">
    <div class="col-lg">
        <p class='lead'>Total no carrinho</p>

        <div class='table-responsive'>
            <table class="table">
                <!-- Aqui é a parte do valor total das compras, o calculo está sendo feito na função soma_total, que está em utils/utils.py -->
                <tr>
                    <td class="font-weight-bold">Total</td>
                    <td>{{request.session.carrinho | soma_total | formata_preco}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg mt-auto">
        <a class="btn btn-lg btn-block btn-primary" href="#">
            Finalizar a compra
        </a>
    </div>
</div>
{% else %}
<div class="row mt-3">
    <div class="col">
        <h3>Carrinho Vazio</h3>
        <p class="lead">Não há produtos no carrinho.</p>
    </div>
</div>
{% endif %}
{% endblock conteudo %}